# Discord
DISCORD_TOKEN=seu_token_aqui
DISCORD_CHANNEL_ID=ID_do_canal_de_logs

# MongoDB
MONGODB_URI=mongodb+srv://usuario:senha@cluster.url/db

# GitHub Scripts (Repositório onde os .lua ficam)
GITHUB_TOKEN=seu_token_com_permissao_repo
GITHUB_SCRIPTS_OWNER=SeuUsuario
GITHUB_SCRIPTS_REPO=nullhub-scripts
GITHUB_BRANCH=main

# API
API_PORT=3000
